@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Inter", sans-serif;
    color: white;
}

/* nav section style */
.container {
    width: 1060px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 46px;
    margin: 0 auto;

}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.nav-section h2 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}

.nav-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

#home {
    background: rgb(230, 83, 60);
    border-radius: 39px;
}

.nav-item p {
    margin-right: 20px;
    font-size: 18px;
    padding: 10px 25px;
}

/* nav sectin end  */

/* hero section state */
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.hero-div1 {
    width: 520px;
}

.hero-div1 h2 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 900;
}

.span {
    font-weight: 400;
    font-family: "Bona Nova SC", serif;
}

.hero-div1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
}

.button-div {
    display: flex;
    margin-top: 15px;
}

.btn {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 14px 40px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.btn-1 {
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    padding: 14px 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.hero-div2 {
    width: 349px;
    position: relative;
}

.hero-img {
    position: relative;
}

.a {
    position: absolute;
    top: 414px;
    left: -75px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.logo-a {
    width: 25px;
    height: 25px;
    background-color: brown;
    border-radius: 50%;
    margin-right: 20px;
}

.video-item h4 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.video-item p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

.b {
    position: absolute;
    top: 170px;
    right: -45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 15px;
}

.b h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
}

.b p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

/* habits sectio style */

.habits-section {
    width: 1044px;
    margin: 0 auto;
}

.habits-div {
    text-align: center;
    width: 671px;
    margin: 0 auto;
}

.habits-div h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 100px;
}

.habits-div p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.habits-img-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 60px;
}

.habits-img-div img {
    border-radius: 50%;
}

.habits-item h5 {
    margin-top: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.habits-item p {
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
}

/* Run an Extra Mile Easily style */
.mile-easily-section {
    width: 1045px;
    border-radius: 18px;
    height: 371px;
    background: rgb(34, 34, 34);
    margin: 100px auto;
}

.mile-easily-div {
    display: flex;
    justify-content: space-evenly;
}

.mile-div {
    width: 443px;
    padding: 40px;
}

.mile-div h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.mile-div p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0;

}

.mile-img {
    width: 450px;
    margin-top: 40px;

}

.mile-img img {
    width: 100%;
    border-radius: 18px;
}

/* BMI Calculator style */
.bmi-title {
    width: 671px;
    margin: 0 auto;
}

.bmi-title h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.bmi-title p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.bmi-section {
    background: rgb(34, 34, 34);
    width: 100%;
    margin-top: 70px;
}

.bmi-calculator {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

}

table {
    margin-top: 10px;
}

table,
tr,
td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    width: 310px;
    height: 40px;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
}

.bmi-div1 {
    margin: 55px;
    width: 440px;
}

.bmi-div1 h3 {
    /* color: rgb(255, 255, 255); */
    font-size: 28px;
    font-weight: 900;
}

.bmi-div2 {
    width: 577px;
    margin: 55px;
}

.bmi-div2 h3 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

.bmi-div2 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top: 10px;
}

.input-text1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.input-text1 input,
select {
    width: 100%;
    height: 5vh;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.6);
}


.meet-team-sectio {
    width: 1040px;
    margin: 40px auto;
}

.meet-team-div {
    text-align: center;
    margin: 40px auto;
    width: 671px;
}

.meet-team-div h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.meet-team-div p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.team-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
}

.img-div-team {
    padding: 15px 15px;
    width: 100%;
}

.img-div-team img {
    width: 90%;
    border-radius: 18px;
}

.time-title {
    margin-top: -60px;
    margin-left: 20px;
}

.time-title h3 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
}

.time-title p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
}

/* latest-news style */
.latest-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    gap: 30px;
    margin-bottom: 40px;
}

.latest-news img {
    width: 100%;
    height: 30vh;
    border-radius: 15px;
}

.lastes-div {
    border: .1px solid rgb(80, 77, 76);
    ;
    border-radius: 15px;
}

.lastes-div h4 {
    color: rgb(230, 83, 60);
    font-size: 12px;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 600;
}

.lastes-div h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;
    padding-right: 15px;
    font-weight: 800;
}

.lastes-div p {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    margin-left: 20px;
    padding-right: 14px;
}

.time-date {
    display: flex;
    justify-content: space-between;
}

/* fooer section style */
footer {
    background: rgba(255, 255, 255, 0.1);
}

.footer-section {
    width: 1059px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0px;
}

.fitness-div {
    width: 443px;
}

.fitness-div h1 {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
}

.fitness-div p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.fitness-div1 {
    width: 181px;
}

.fitness-div1 h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.fitness-div1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.copi {
    width: 1040px;
    margin: 0 auto;
}

.copi hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copi p {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
}